## Loop
### Something that repeats continuosly.

## While Loop : 
##### Python while loop is used to run a block code until a certain condition is met.

In [1]:
x = 1
while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
x = 1
while x <= 10:
    print(x,end= ",")
    x += 1

1,2,3,4,5,6,7,8,9,10,

##### Print all numbers from 50 to 1.

In [5]:
x = 50
while x > 0:
    print (x,end=" ")
    x -= 1

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

##### Wapp to print all even numbers from 1 to 200.

In [1]:
x = 1
while x <= 200:
    if x%2==0:
        print(x,end=" ")
    x +=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

##### Wapp to print the value if an user enters 'rock','paper' or 'scissor',Otherwise if an user enters any  value other than 'rock','paper' or 'scissor' it should ask for input again.

In [1]:
x = 'none'
while x.lower() not in ['rock','paper','scissor']:
    x = input("enter the word: ")
print("Your word is: ",x)

enter the word:  sciSSOR

Your word is:  sciSSOR

## For Loop :

##### It is used to iterate over any sequential data.

In [2]:
num = [12,34,67,879,34,89,66,42]
for i in num:
    print (i)

12
34
67
879
34
89
66
42

In [4]:
# for only even numbers in num
num = [12,34,67,879,34,89,66,42]
for i in num:
    if i % 2 == 0:
        print (i,end=" ")

12 34 34 66 42

In [5]:
for char in 'AEROPLANE':
    print (char,end=" ")

A E R O P L A N E

#### range() :
##### It is a built in function that generates a sequence of integers between any given inerval.

In [6]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [7]:
#Reverse numbers from 500 to 200.
for i in range(500,199,-1):
    print(i,end=" ")

500 499 498 497 496 495 494 493 492 491 490 489 488 487 486 485 484 483 482 481 480 479 478 477 476 475 474 473 472 471 470 469 468 467 466 465 464 463 462 461 460 459 458 457 456 455 454 453 452 451 450 449 448 447 446 445 444 443 442 441 440 439 438 437 436 435 434 433 432 431 430 429 428 427 426 425 424 423 422 421 420 419 418 417 416 415 414 413 412 411 410 409 408 407 406 405 404 403 402 401 400 399 398 397 396 395 394 393 392 391 390 389 388 387 386 385 384 383 382 381 380 379 378 377 376 375 374 373 372 371 370 369 368 367 366 365 364 363 362 361 360 359 358 357 356 355 354 353 352 351 350 349 348 347 346 345 344 343 342 341 340 339 338 337 336 335 334 333 332 331 330 329 328 327 326 325 324 323 322 321 320 319 318 317 316 315 314 313 312 311 310 309 308 307 306 305 304 303 302 301 300 299 298 297 296 295 294 293 292 291 290 289 288 287 286 285 284 283 282 281 280 279 278 277 276 275 274 273 272 271 270 269 268 267 266 265 264 263 262 261 260 259 258 257 256 255 254 253 252 251 250 249 248 247 246 245 244 243 242 241 240 239 238 237 236 235 234 233 232 231 230 229 228 227 226 225 224 223 222 221 220 219 218 217 216 215 214 213 212 211 210 209 208 207 206 205 204 203 202 201 200

##### Wapp to print the multiplication table of any entered number.

In [8]:
x = int(input("Enter a number: "))
for i in range(1,11,1):
    print (x,'X',i,'=',x*i)

Enter a number:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

##### Wapp to print only the vowels from any entered string value.

In [10]:
x = input("Enter a word: ")
for i in x:
    if i in 'aeiouAEIOU':
        print(i,end=" ")

Enter a word:  kunal

u a

### Jump Statements :

##### a jump statement is used to break the normal form of the program
#### Break :
##### Used to terminate or break the loop.

In [11]:
for i in 'python':
    print(i)
    break

p

In [13]:
for i in 'python':
    if i == 'h':
        break
    print(i)

p
y
t

#### Continue statement :
##### Continue statement is used to skip the current iteration and takes the control to the next iteration.

In [14]:
for i in 'python':
    print(i)
    continue

p
y
t
h
o
n

In [15]:
for i in 'python':
    continue
    print(i)

In [17]:
for i in 'python':
    if i == 'o':
        continue
    print(i)

p
y
t
h
n

#### Pass Statements : 
##### Helps to write empty loops.
##### Used for control statements, functions and classes.

In [18]:
for i in 'python':
    pass

In [21]:
for i in 'python':
    pass
    print(i,end=" ")

p y t h o n

## Function :
##### A function is a pre defined piece of code
### 2 types :
#### User defined : A function which is declared by the user according to their need.
#### pre defined : The functions which are already present in python's library are called Pre defined function or Built in functions.

In [22]:
# creating a function.
def Function1():
    print("Hello World")
#Function call
Function1()

Hello World

In [23]:
# Function with return:
def WithRet():
    return "Hello"
WithRet()

'Hello'

In [25]:
# Function with return :
def WithoutRet():
    print("hello")
WithoutRet()

hello

In [27]:
WithRet() + ' How are you '

'Hello How are you '

In [28]:
WithoutRet() + ' How are you '

hello

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [29]:
# Functions with argumenets : 
# Single argument:
def Single(x):
    print(f"Value of x is {x}")
Single(50)

Value of x is 50

In [30]:
Single('Apple')

Value of x is Apple

In [31]:
# Double argument :
def Double(a,b):
    print(f"a -> {a}, b -> {b}")
Double(54,89)

a -> 54, b -> 89

In [32]:
# Multiple arguments :
def Multi(*arg):
    print(f'values in arg -> {arg}')

In [34]:
Multi(15)

# always the datatype is tuple

values in arg -> (15,)

In [36]:
Multi(1,7,89,65,2)

values in arg -> (1, 7, 89, 65, 2)

##### Create a function to check whether a given number is even or odd

In [37]:
def EvOd(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")
EvOd(5)

Odd

In [38]:
EvOd(0)

Even

##### Create a function to print all the factors of an entered number.

In [2]:
def Fact(x):
    for i in range(1,x+1):
        if x%i==0:
            print(i)
x = int(input("Enter a number: "))
Fact(x)

Enter a number:  12

1
2
3
4
6
12

In [1]:
asish="LEGEND"
print("asish is a ",asish)

asish is a  LEGEND