### Assignment Operator

In [3]:
# += : assignment and arithmatic operator
a = 10 
b = 20
print(a)
print(b)
a += b   # a += b -> a = a + b
print(a)

10
20
30

In [4]:
# -= :
a = 10 
b = 20
print(a)
print(b)
a -= b   # a -= b -> a = a - b
print(a)

10
20
-10

In [6]:
# *= : 
a = 10 
b = 20
print(a)
print(b)
a *= b   # a *= b -> a = a * b
print(a)

10
20
200

### Comparison Operators

In [7]:
100 > 66

True

In [8]:
100 < 55

False

In [9]:
66 == 66

True

In [10]:
'cat' != 'CAT'

True

In [11]:
100 <= 100

True

### Logical Operators

In [14]:
# and(&&) : if all the conditions are true then the result will be true.
('cat' == 'cat') and ('cat' != 'dog')

True

In [15]:
# or(||) : if any of the condition is true then the result will be true.
(15 % 5 == 0) or (14 % 5 == 0)

True

In [16]:
# not : it is an unary operaator that result True condition as False and vice versa
not(15 % 5 == 0)

False

## Special Operators 
### Membership Operators : It is used to check whether an element is present in an sequence or not

In [17]:
# in : Returns True if an element is present within the sequence.
'A' in 'Aeroplane'

True

In [19]:
# in :
15 in [1,2,5,6,89,5]

False

In [21]:
# not in : Returns True if an element is not present within the sequence.
'cat' not in {'suman' , 'elephant' , 'jackal'}

True

In [22]:
# not in :
's' not in 'suman'

False

## Write a program return True if the character is vowel.

In [28]:
x = input('Enter a character: ')
x in 'aeiouAEIOU'

Enter a character:  o

True

## Identity Operator : It is used to compare the address of any variable.

In [31]:
# is : return True if the addresses of both variables are same.
x = 190
y = 190
print (x is y)

# to check the address of any variable we can use id()
print(id(x))
print(id(y))

True
140703303418200
140703303418200

In [32]:
#is :
x = 190
y = 190
print (x is y)
print(id(x))
print(id(y))

True
140703303418200
140703303418200

In [35]:
# is not : return True if addresses of both the variables are different.
a = [1,2,3]
b = [1,2,3]
print(a is not b)
print(id(a))
print(id(b))

True
2130119111872
2130119099328

In [37]:
# is not : 
a = [1,2,3]
b = a
print(a is not b)
print(id(a))
print(id(b))

False
2130119208128
2130119208128

## Wapp to return True if a year is leap else return False.

In [41]:
x = int(input('Enter a year: '))
(x % 4 == 0) and (x % 100 != 0) or (x % 400 == 0)

Enter a year:  2015

False

### Identation : it is one of the most important feature in python as the indicates the block of code.

In [42]:
if 'A' == 'A':
    print("both values are equal")

both values are equal

### Conditional Statement or Decision Making Statement or Control Statement : 
##### 1.if
##### 2.if-else
##### 3.Nested if
##### 4.if-Elif-Else

In [44]:
# if :
char = input('Enter a character: ')
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u' or char == 'A' or char == 'E' or char == 'I' or char == 'O' or char == 'U':
    print(char,"is a vowel")

Enter a character:  a

a is a vowel

In [47]:
# if-else :it checks the truthneess as well as the falsiness of the program.
char = input('Enter a character: ')
if char in 'aeiouAEIOU':
    print(char,"is a vowel")
else:
    print(char,"is not a vowel")

Enter a character:  y

y is not a vowel

In [51]:
# Nested if : It checks more than one condition at a time.
tenth = float(input("Enter 10th marks: "))
twelve = float(input("Enter 12th marks: "))
btech = float(input("Enter Btech marks: "))
if tenth >= 80 :
    if twelve >= 80:
        if btech >= 80:
            print("You are eligible to get scholarship")
        else:
            print ("You are not eligible to get scholarship")
    else:
        print ("Nahi milega scholarship")
else:
    print ("Agle janam lena scholarship")

Enter 10th marks:  50
Enter 12th marks:  100
Enter Btech marks:  97

Agle janam lena scholarship

In [54]:
treat = input('What you wanna eat: ').lower()
if treat == 'burger':
    print('We will have burger party')
elif treat == 'pizza':
    print('We will have pizza party')
elif treat == 'biriyani':
    print('We will have biriyani party')
elif treat == 'pakhal':
    print('Ghar mein we will have pakhal party')   
else:
    print('mat khaa')

What you wanna eat:  sushi

mat khaa

### Wapp to check if the entered character is a alphabet,digit or special character.

In [58]:
a = input('Enter a character: ')
if a.isalpha(): 
    print(a,"is a alphabet")
elif a.isdigit():
    print(a,"is a digit")
elif a.isspace():
    print(a,"is a space")
else:
    print(a,"is a special character")

Enter a character:  2

2 is a digit

### A company decided to give 5% bonus to its employees if his/her service is more than 5 years.Ask user for their salary and year of experience and print the net bonus amount.

In [57]:
a = int(input('Enter your salary: '))
b = int(input('Enter your years of experience: '))
if b > 5 :
    print("New bonus amount:",a*(5/100)) 
else :
    print("No bonus amount")

Enter your salary:  50000
Enter your years of experience:  6

New bonus amount: 2500.0